.Overview {
    width: 100% !important;
    height: 100vh !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

/*
table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
}

th {
    border-bottom: 1px solid black;
}

td {
    text-align: center;
}
*/
table {
    border: 0px solid grey !important;
    width: 100% !important;
    max-width: 800px !important;
    border-collapse: collapse !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) !important;
    border-radius: 30px !important;
    overflow-y: scroll !important;

}

th {
    border-bottom: 1px solid black !important;
    background-color: grey !important;
    color: white;
    font-weight: bold !important;

}

td {
    text-align: center !important;
    padding: 8px !important;

}

/* Füge einen Hover-Effekt hinzu */
tr:hover {
    background-color: #f5f5f5;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}



/* Style für die Button-Spalte */
td:last-child {
    text-align: left !important;
    /* Füge etwas Abstand zwischen dem Button und den anderen Zellen hinzu */
    padding-left: 16px !important;
}

#title {
    text-align: center !important;
}