.num-pad{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.num-pad button {
    background: grey;
    display: inline;
    text-align: center;
}

.operators {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
}

.operators button {
    background-color: red;
    color: white;
}